src/main/resources/XeroSchemas/v2.00/Contact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Contact"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Address.xsd" />
  <xs:include schemaLocation="Phone.xsd" />
    
  <xs:element name="Contacts" nillable="true" type="ArrayOfContact" />
  
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="Contact" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Contact">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />

      <xs:element minOccurs="1" maxOccurs="1" name="ContactID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactStatus" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SkypeUserName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankAccountDetails" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountsReceivableTaxType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountsPayableTaxType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Addresses" type="ArrayOfAddress" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="ArrayOfPhone" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactGroups" type="ArrayOfContactGroup" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsSupplier" nillable="false" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsCustomer" nillable="false" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultCurrency" type="xs:string" />
      
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="ArrayOfContactGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactGroup" nillable="true" type="ContactGroup" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ContactGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
    
</xs:schema>